/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/etc
/logs
/mail
mail
/publicftp
publicftp
/public_html/admin
/public_html/.htaccess.old
/public_html/error_log
/public_html/glow.zip
/public_html/glow
/public_html/google214af6ac7bab0f57.html
/public_html/images/
/public_html/index.html
/ssl
/tmp
/.idea
/.vscode
/.vagrant
/.attracta
/.cagefs
/.cl.selector
/.cpanel
/.cphorde
/.htpasswds
/.jbm
/.pki
/.softaculous
/.spamassassin
/.ssh
/.trash
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.bash_history
.bash_logout
.bash_profile
.bashrc
.contactemail
.lastlogin
.spamassassinenable
/access-logs
www
/www